In [3]:
import pandas as pd
import os, sys

In [2]:
dataDir = '/Users/yuanzan/Documents/phd/tomato_metabolic/作图2.19/K-MEANS/'

## read gene exp fpkm

In [ ]:
gene_Exp = pd.read_excel("/Users/yuanzan/Documents/phd/tomato_metabolic/作图2.19/K-MEANS/gene.expression.annot.xlsx", index_col=0)
#import datatable as dt
#gene_Exp = dt.fread("/Users/yuanzan/Documents/phd/tomato_metabolic/作图2.19/K-MEANS/gene.expression.annot.xlsx")
#gene_Exp = gene_Exp.to_pandas()
cluster_genes = pd.read_table("../cluster_TFs/CC_cluster_genes.csv", sep=",", index_col=1)

In [84]:
gene_Exp = gene_Exp.loc[:,gene_Exp.columns.str.contains('_fpkm')==True]
gene_Exp = gene_Exp.loc[cluster_genes.index,:]
#gene_Exp = gene_Exp.iloc[:,0:348]

In [85]:
gene_Exp_metadata = pd.DataFrame({"sample":gene_Exp.columns}, index = gene_Exp.columns)
gene_Exp_metadata['sample'] = gene_Exp_metadata['sample'].str.split("_fpkm", expand=True)[0]

In [86]:
gene_Exp_metadata.shape

(174, 1)

## read energy

In [50]:
energy = pd.read_excel("/Users/yuanzan/Documents/phd/tomato_metabolic/作图2.19/K-MEANS/energy.levels.xlsx", sheet_name=0, index_col=0)
energy = energy.iloc[:,2:]

energy_metadata = pd.DataFrame({"sample":energy.columns}, index = energy.columns)
energy_metadata['sample'] = energy_metadata['sample'].str.split("E_", expand=True)[1]

In [51]:
energy_metadata.shape

(174, 1)

In [43]:
gene_Exp.shape

(7860, 348)

## read sugar

In [67]:
sugar = pd.read_excel("/Users/yuanzan/Documents/phd/tomato_metabolic/作图2.19/K-MEANS/sugar.levels.xlsx", sheet_name=0, index_col=0)
sugar = sugar.iloc[:,11:185]
sugar_metadata = pd.DataFrame({"sample":sugar.columns}, index = sugar.columns)
sugar_metadata['sample'] = sugar_metadata['sample'].str.split("S_", expand=True)[1]

In [68]:
sugar_metadata.shape

(174, 1)

In [69]:
sugar_metadata

            sample
S_C0h-1      C0h-1
S_C0h-2      C0h-2
S_C0h-3      C0h-3
S_C120h-1  C120h-1
S_C120h-2  C120h-2
...            ...
S_DD84h-2  DD84h-2
S_DD84h-3  DD84h-3
S_DD96h-1  DD96h-1
S_DD96h-2  DD96h-2
S_DD96h-3  DD96h-3

[174 rows x 1 columns]

In [87]:
gene_Exp.columns = gene_Exp_metadata['sample']
energy.columns = energy_metadata['sample']
sugar.columns = sugar_metadata['sample']

In [93]:
data = pd.concat([gene_Exp, energy, sugar], axis=0)

In [91]:
import anndata as ad

anndata._core.anndata.AnnData

In [96]:
adata = ad.AnnData(data.T)

In [110]:
CCDD_cluster_gene7860_type = pd.read_csv("../cluster_TFs/CCDD_cluster_gene7860_type.csv", sep=",")

In [115]:
adata.var["type"] = 'gene'
adata.var.loc[adata.var.index.isin(energy.index), 'type'] = 'energy'
adata.var.loc[adata.var.index.isin(sugar.index), 'type'] = 'sugar'
adata.var.loc[adata.var.index.isin(CCDD_cluster_gene7860_type[CCDD_cluster_gene7860_type["TF-Category"]=="TF"]["gene"]), 'type'] = 'TF'
adata.var.loc[adata.var.index.isin(CCDD_cluster_gene7860_type[CCDD_cluster_gene7860_type["TF-Category"]=="TR"]["gene"]), 'type'] = 'TR'

In [118]:
adata.var['type'].unique()

array(['gene', 'TF', 'TR', 'energy', 'sugar'], dtype=object)

In [119]:
adata.write("CC_DD_Exp_energy_sugar.h5ad")

/Users/yuanzan/anaconda3/lib/python3.8/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Reordering categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'type' as categorical